@layer components {
  .titulo {
    @apply text-4xl font-bold;
  }
}



@keyframes borderGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-border {
  background-size: 200% 200%;
  animation: borderGradient 6s ease infinite;
}

@keyframes aurora {
  0% {
    background-position: 0% 50%;
  }

  25% {
    background-position: 100% 50%;
  }

  50% {
    background-position: 100% 100%;
  }

  75% {
    background-position: 0% 100%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animate-aurora {
  background-size: 300% 300%;
  animation: aurora 10s linear infinite;
}

/* Shine animations */

@keyframes shine-light {

  0%{
    transform: translateX(-120%);
  }

  100%{
    transform: translateX(120%);
  }

}

.shine-light {
  background: linear-gradient(
    110deg,
    transparent 35%,
    var(--yellow2) 50%,
    transparent 65%
  );

  transform: translateX(-120%);
  animation: shine-light 5s infinite;
}

@keyframes shine-dark {

  0%{
    transform: translateX(-120%);
  }

  100%{
    transform: translateX(120%);
  }

}

.shine-dark {
  background: linear-gradient(
    110deg,
    transparent 35%,
    var(--purple1) 50%,
    transparent 65%
  );

  transform: translateX(-120%);
  animation: shine-dark 5s infinite;
}

@theme {
  --animate-stripe-front: stripe-front 6s ease-in-out infinite;
  --animate-stripe-back: stripe-back 6s ease-in-out infinite;

  @keyframes stripe-front {
    0% {
      transform: translateX(0) translateY(0);
    }
    50% {
      transform: translateX(-5px) translateY(-4px);
    }
    100% {
      transform: translateX(0) translateY(0);
    }
  }

  @keyframes stripe-back {
    0% {
      transform: translateX(0) translateY(0);
    }
    50% {
      transform: translateX(4px) translateY(5px);
    }
    100% {
      transform: translateX(0) translateY(0);
    }
  }
}